@model IEnumerable<InventoryManagement.Vendor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage Vendors</h2>

<table class="table table-striped custab">
    <thead>
        <a href="@Url.Action("Create", "Vendors")" class="btn btn-primary btn-xs pull-right">Add Vendor</a>
        <tr>
            <th>Vendor</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td class="text-center"><a class='btn btn-info btn-xs' href="@Url.Action("Edit", "Vendors", new{id=item.Id})"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="@Url.Action("Delete", "Vendors", new { id=item.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
        </tr>
        if (item.Contacts.Count() != 0)
        {

            <tr>
                <td>@item.Contacts.First().LastName</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="@Url.Action("Edit", "Contacts", new{id=item.Id})"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="@Url.Action("Delete", "Vendors", new { id=item.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>


        }
    }
</table>
