@model IEnumerable<InventoryManagement.Asset>

@{
    ViewBag.Title = "Manage Assets";
}
<link href="http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function () {
        $("#owner").autocomplete({
            source: '@Url.Action("getOwners")'
        });
    });
</script>

<h2>Manage Assets <a href="@Url.Action("Create", "ManageAssets")" class="btn btn-primary btn-xs pull-right">Add Asset</a></h2>


@using (Html.BeginForm())
{
    {
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Serial Number
                    </th>
                    <th>
                        Model Name
                    </th>
                    <th>
                        Asset Owner
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNum)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PurchaseDate)
                    </th>

                    <th class="text-center" colspan="3">Action</th>
                </tr>
            </thead>

            <tr>
                <td>
                    <input type="text" name="serialNumber" id="serialNumber" class="form-control tableSearch" placeholder="Serial Number" />
                </td>
                <td>
                    @Html.DropDownList("AssetModelId", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                </td>
                <td>
                    <input type="text" name="owner" id="owner" class="form-control autocomplete tableSearch" placeholder="LastName FirstName" autocomplete="off" />
                </td>
                <td>
                    <input type="text" name="roomNumber" id="roomNumber" class="form-control tableSearch" placeholder="Room #" />
                </td>
                <td>
                    <input type="date" name="purchaseDate" id="purchaseDate" class="form-control tableSearch" placeholder="Purchase Date" />
                </td>
                <td colspan="3">
                    <input type="submit" class="btn btn-default tableSearchButton" />
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetModel.Name)
                       
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.AssetUser.LastName)*@
                        @String.Concat(@item.AssetUser.LastName, " ", @item.AssetUser.FirstName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Reassign", "ManageAssets", new{id=item.Id})" class="btn btn-xs btn btn-success"><span class="glyphicon glyphicon-user"></span></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "ManageAssets", new{id=item.Id})" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Delete", "ManageAssets", new { id=item.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }

        </table>
    }

}


