@model InventoryManagement.AssetModel

@{
    ViewBag.Title = "Edit";
    Layout = "";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = String.Concat("model-", @Model.Id.ToString()),
        InsertionMode = InsertionMode.ReplaceWith,
        OnSuccess = "$('#editModal').modal('hide');"
    };
}

 
<div class="well">
    <h2>Edit Asset Model</h2>
    @using(@Ajax.BeginForm("EditPartial", ajaxOpts))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(modelItem => @Model.Id)

            <div class="form-group">
                @Html.LabelFor(modelItem => @Model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => @Model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => @Model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(modelItem => @Model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => @Model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => @Model.Manufacturer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(modelItem => @Model.TypeId, "Asset Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(modelItem => @Model.TypeId, (SelectList)ViewBag.AssetTypesList, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(modelItem => @Model.TypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>





